<% hey.forEach(function(hi){%>
    <h4>
        <%=hi.fullname%>
    </h4>
    <h4>
        <%=hi.username%>
    </h4>
    <h4>
        <%=hi.password%>
    </h4>
    <h4>
        <%=hi.cityname%>
    </h4>
    <h4>
        <%=hi.name%>
    </h4>
    <%});%>